@import '../common';

.practiceAreapage {
    .banner {
        position: relative;

        .image img {
            width: 100%;
            height: 800px;
            object-fit: cover;
            object-position: center;
        }
        
        .layer {
            @include fullSize();
            @include postAbsolute();

            background-color: rgba(0, 0, 0, .6);
        }

        .caption {
            @include fullSize();
            @include postAbsolute();
            @include flexCenter();
            padding-top: 32px;

            h1 {
                padding: 0 18px;
                color: $color-3;
                font-size: 80px;
                text-transform: uppercase;
                text-align: center;

                @media screen and (max-width: $md) {
                    font-size: 40px;
                }
            }
        }
    }

    .content {
        
        p {
            font-size: 18px;
            line-height: 24px;
            font-family: 'Times New Roman', Times, serif;
            color: rgb(78, 78, 78)
        }

        li {
            list-style: circle;
        }

        tr {
            padding: 30px;
        }

        td {
            padding-bottom: 20px;
        }

        td:first-child {
            display: flex;
            margin-top: 6px;
        }

        td:last-child {
            padding-left: 8px;
        }

        .mainText {
            margin-bottom: 18px;
        }
        .circle {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: black;
        }

        @media screen and (max-width: $md) {
            padding: 24px 24px;
        }

        @media screen and (min-width: $md) {
            padding: 120px 15%;
        }
    }
}