@import '../common';

.homepage {
    @media screen and (min-width: $md) {
        & > section {
            margin-top: 48px;
            padding: 0 15%;
        }
    }
}

// Start of hero
.hero {
    @media screen and (min-width: $md) {

        .caption {
            padding: 0 120px;
            h1 {
                max-width: 1024px;
                font-size: 80px;
            }
        }
    }

    @media screen and (max-width: $md) {

        .caption {
            padding: 0 60px;
            h1 {
                font-size: 42px;
            }
        }
    }

    position: relative;
    overflow-x: hidden;
    height: 800px;
    
    img {
        width: 100vw;
        height: 100%;
        object-fit: cover;
    }
    
    .caption {
        @include flexCenter();
        @include postAbsolute();

        flex-direction: column;
        width: 100%;
        margin-top: 300px;
        z-index: 2;
        text-transform: uppercase;
        
        h1 {
            margin-bottom: 60px;
            color: $color-3;
            text-align: center;
        }

        span {
            color: $color-6;
        }

        .contact-us {
            background-color: #3f75d18e;
            border: solid 2px $color-1;
            padding: 18px 24px;
            font-size: 18px;
            color: $color-3;
            transition: all ease-in-out .2s;

            &:hover {
                background-color: $color-2;
                border: solid 2px $color-1;
                color: $color-3;
                transform: translate(10px, -10px);
            }

            &:active {
                div:first-child {
                    background-color: $color-2;
                }
            }
        } 
    }

    .layer {
        @include postAbsolute();
        @include fullSize();

        background-color: #000;
        opacity: .8;
    }
}
// end of hero
