@import '../common';

.homepage {
    & > section {
        margin-top: 48px;
        padding: 0 15%;

        &.lawyer {
            padding: 0;
        }
    }
}

// Start of hero
.hero {
    position: relative;
    overflow-x: hidden;

    
    img {
        width: 100vw;
        height: 90vh;
        object-fit: cover;
    }
    
    .caption {
        @include flexCenter();
        @include postAbsolute();

        flex-direction: column;
        width: 100%;
        margin-top: 300px;
        z-index: 2;
        text-transform: uppercase;
        color: $text-color-1;
    
        h1 {
            font-size: 60px;
            margin-bottom: 60px;
        }

        span {
            color: $text-color-1;
        }

        .contact-us {
            @include flexCenter();

            background: none;

            div {

                padding: 16px 24px;
                text-transform: uppercase;
                color: $text-color-1;
                border: solid 1px $primary-color-1;
                transition: background ease-in .2s;
            
                &:first-child {
                    background: none;
                }

                &:last-child {
                    background: $primary-color-1;
                }

            }

            &:hover {
                div {
                    &:first-child {
                        background: $primary-color-1;
                    }
                    &:last-child {
                        background: none;
                    }
                }
            }

            &:active {
                div:first-child {
                    background-color: $primary-color-2;
                }
            }
        } 
    }

    .layer {
        @include postAbsolute();
        @include fullSize();

        background-color: #000;
        opacity: .8;
    }
}
// end of hero

// start of about 

section.about {
    background-color: $primary-color-3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    
    align-items: flex-start;

    & > div {
        position: relative;
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
            height: 500px;
            object-fit: cover;
        }

        .caption {
            @include postAbsolute();
            
            padding: 48px 32px;
            z-index: 2;

            h3 {
                margin-bottom: 48px;
                text-align: center;
                color: $text-color-1;
                font-size: 28px;
            }

            p {
                color: $text-color-1;
                text-align: center;
                font-size: 18px;
            }
        }

        .layer {
            @include postAbsolute();
            @include fullSize();

            background-color: $primary-color-1;
            opacity: .7;
        }
    }
}

// end of about

// start of peactice area
section.practice-area {
    background-color: $primary-color-4;
    padding-top: 24px;
    padding-bottom: 24px;

    .items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 12px;

        li {
            position: relative;
            overflow: hidden;
        
            img {
                width: 100%;
                height: 400px;
                object-fit: cover;
                object-position: center;
                transition: all ease-in-out .2s;
            }
    
            .caption {
                position: absolute;
                display: flex;
                flex-direction: column;
                
                bottom: 0;
                width: 100%;
                height: 150px;
                opacity: .9;
                overflow: hidden;
                
                text-align: center;
                color: $text-color-1;

                .triangle {
                    width: 0;
                    height: 0;
                    border-top: 40px solid transparent;
                    border-right: 600px solid $primary-color-1;
                    transition: border ease-in-out .2s;
                }

                .square {
                    @include fullSize();
                    @include flexCenter();

                    background-color: $primary-color-2;
                    font-size: 20px;
                }
            }

            &:hover {
                img {
                    width: 140%;
                }

                .caption {
                    .triangle {
                        border-top: 80px solid transparent;
                        border-right: 400px solid $primary-color-1;
                    }
                }
            }
        }
    }
}

// end of practice area

// start of lawyer

section.lawyer {
    .lawyer-carousel-item {
        padding: 0 20px;

        & > div {
            position: relative;
            
            img {
                width: 100%;
                height: 500px;
                object-fit: cover;
                // border-bottom: solid 12px $primary-color-2;
            }
    
            .squares {
                @include postAbsolute();
                @include fullSize();
                @include flexCenter();
                flex-direction: column;
                align-items: flex-end;
    
                // background-color: red;
                .square-bottom {
                    background-color: $primary-color-2;
                    width: 100%;
                    height: 40%;
                    padding: 12px;

                    .name, .role {
                        width: 100%;
                        text-align: center;
                        font-size: 18px;
                        color: $text-color-1;
                        transition: padding ease-in-out .2s;
                    }

                    .role, .link-button {
                        display: none;
                    }
                }

                .square-top {
                    @include postAbsolute();

                    background-color: $primary-color-4;
                    width: 100%;
                    height: 100%;

                }

                &:hover {
                    .square-bottom {
                        .name {
                            padding: 12px 0 5px 0;
                            border-bottom: solid 2px $text-color-1;
                        }

                        .role, .link-button {
                            display: block;
                        }

                        .role {
                            padding: 5px;
                            font-weight: 100;
                        }

                        & > div {
                            @include flexCenter();

                            padding: 12px;

                            .link-button {
                                @include flexCenter();
    
                                background-color: $primary-color-4;
                                border-radius: 50%;
                                width: 50px;
                                height: 50px;
                                transition: background ease-in-out .2s;

                                &:hover {
                                    background-color: $primary-color-1;
                                    color: $text-color-1;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }
}

// end oflawyer