@import '../common';

.homepage {
    @media screen and (min-width: $md) {
        & > section {
            margin-top: 48px;
            padding: 0 15%;
        }
    }
}

// Start of hero
.hero {
    @media screen and (min-width: $md) {

        .caption {
            padding: 0 120px;
            h1 {
                max-width: 1024px;
                font-size: 80px;
            }
        }
    }

    @media screen and (max-width: $md) {

        .caption {
            padding: 0 60px;
            h1 {
                font-size: 42px;
            }
        }
    }

    position: relative;
    overflow-x: hidden;
    height: 800px;
    
    img {
        width: 100vw;
        height: 100%;
        object-fit: cover;
    }
    
    .caption {
        @include flexCenter();
        @include postAbsolute();

        flex-direction: column;
        width: 100%;
        margin-top: 300px;
        z-index: 2;
        text-transform: uppercase;
        
        h1 {
            margin-bottom: 60px;
            color: $color-3;
            text-align: center;
        }

        span {
            color: $color-6;
        }

        .contact-us {
            background-color: #3f75d18e;
            border: solid 2px $color-1;
            padding: 18px 24px;
            font-size: 18px;
            color: $color-3;
            transition: all ease-in-out .2s;

            &:hover {
                background-color: $color-2;
                border: solid 2px $color-1;
                color: $color-3;
                transform: translate(10px, -10px);
            }

            &:active {
                div:first-child {
                    background-color: $color-2;
                }
            }
        } 
    }

    .layer {
        @include postAbsolute();
        @include fullSize();

        background-color: #000;
        opacity: .8;
    }
}
// end of hero

// start of peactice area
section.practice-area {

    background-color: $color-4;
    padding-top: 24px;
    padding-bottom: 24px;

    @media screen and (max-width: $lg)
    {
        padding: 0 12px;
    } 

    .items {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 12px;

        li {
            position: relative;
            overflow: hidden;
        
            img {
                width: 100%;
                height: 400px;
                object-fit: cover;
                object-position: center;
                transition: all ease-in-out .2s;
            }
    
            .caption {
                position: absolute;
                text-align: center;
                color: $color-6;
            }

            .caption {
                @include fullSize();
                display: flex;
                flex-direction: column;
                
                bottom: 0;
                opacity: .9;
                overflow: hidden;
            }

            .square {
                @include fullSize();
                @include flexCenter();

                background-color: rgba(0, 0, 0, .4);
                font-size: 32px;
            }


            &:hover {
                img {
                    width: 140%;
                }

                .caption {
                    .triangle {
                        border-top: 80px solid transparent;
                        border-right: 400px solid $color-1;
                    }
                }
            }
        }
    }

    @media screen and (max-width: $lg) {
        .items {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 12px;
        }
    }

    @media screen and (max-width: $md) {
        .items {
            display: block;

            li {
                img {
                    height: 200px;
                }
            }

            .caption {
                top: 0;
                width: 100%;
                height: 100%;
                // background: red;
                font-size: 24px;
                text-transform: uppercase;

                .triangle {
                    display: none;
                }
    
                .square {
                    @include flexCenter();
                    height: 100%;
                }
            }
        }
    }
}

// end of practice area

// start of lawyer

section.lawyer {
    .lawyer-carousel-item {
        padding: 0 6px;

        & > div {
            position: relative;
            
            img {
                width: 100%;
                height: 400px;
                object-fit: cover;
                object-position: center;
                // border-bottom: solid 12px $color-2;
            }
    
            .squares {
                @include postAbsolute();
                @include fullSize();
                @include flexCenter();
                flex-direction: column;
                align-items: flex-end;
    
                // background-color: red;
                .square-bottom {
                    background-color: $color-1;
                    width: 100%;
                    height: 40%;
                    padding: 12px;

                    .name, .role {
                        width: 100%;
                        text-align: center;
                        font-size: 14px;
                        color: $color-6;
                        transition: padding ease-in-out .2s;
                    }

                    .role, .link-button {
                        display: none;
                    }
                }

                .square-top {
                    @include postAbsolute();

                    background-color: $color-4;
                    width: 100%;
                    height: 100%;

                }

                &:hover {
                    .square-bottom {
                        .name {
                            padding: 12px 0 5px 0;
                            border-bottom: solid 2px $color-6;
                        }

                        .role, .link-button {
                            display: block;
                        }

                        .role {
                            padding: 5px;
                            font-weight: 100;
                        }

                        & > div {
                            @include flexCenter();

                            padding: 12px;

                            .link-button {
                                @include flexCenter();
    
                                background-color: $color-4;
                                border-radius: 50%;
                                width: 50px;
                                height: 50px;
                                transition: background ease-in-out .2s;

                                &:hover {
                                    background-color: $color-1;
                                    color: $color-6;
                                }
                            }
                            
                        }
                    }
                }
            }

            .Link {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: transparent;
                z-index: 40;
            }
        }
    }
}

// end oflawyer