@import '../common';

.ContactUspage {
    @include flexCenter();
    flex-direction: column;
    padding-top: 180px;
    background-color: $color-10;
    min-height: 100vh;

    h1 {
        font-weight: 300;
    }

    .formContact {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        // background-color: $color-1;
        padding: 48px 12px;

        .inputRow {
            display: flex;
            width: 100%;

            @media screen and (max-width: $lg) {
                flex-direction: column;
            }

            .inputControl {
                width: 100%;
                margin-right: 12px;
            }

            .inputControl:last-child {
                margin: 0;
            }
        }

        .inputControl {
            display: flex;
            flex-direction: column;
            margin-bottom: 12px;
            color: $color-9;

            label {
                font-size: 14px;
                margin-bottom: 8px;
            }

            input {
                padding: 8px 12px;
            }

            textarea {
                height: 150px;
            }
        }

        button {
            background-color: $color-1;
            padding: 18px 12px;
            font-size: 16px;
            color: $color-4;
            border-radius: 4px;
        }
    }

    footer {
        background-color: $color-3;
        width: 100%;
    }
}