// start of about 
@import '../common';
section.about {
    @media screen and (min-width: $lg) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }

    @media screen and (max-width: $lg) {
        & > div {
            margin-bottom: 12px;
        }
        
        padding: 0 12px;
    }

    background-color: $color-3;
    
    align-items: flex-start;

    & > div {
        position: relative;
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
            height: 500px;
            object-fit: cover;

            @media screen and (max-width: $md) {
                height: 600px;
            }
        }

        .caption {
            @include postAbsolute();
            
            padding: 48px 32px;
            z-index: 2;

            h3 {
                margin-bottom: 80px;
                text-align: center;
                color: $color-6;
                font-size: 32px;
            }

            p {
                color: $color-6;
                text-align: center;
                font-size: 18px;
                line-height: 24px;
            }
        }

        .layer {
            @include postAbsolute();
            @include fullSize();

            background-color: $color-1;
            opacity: .7;
        }
    }
}

// end of about